/* BREAK POINTS: 992PX, 768PX, 576PX, 480PX AND 375PX */
@media screen and (max-width: 1149px) {
  html {
    font-size: 51.8%;
  }
}
/*  */
@media screen and (max-width: 950px) {
  html {
    font-size: 48.9%;
  }
}
/*  */
@media screen and (max-width: 900px) {
  html {
    font-size: 45.9%;
  }
}
/*  */
@media screen and (max-width: 850px) {
  html {
    font-size: 48.5%;
  }
  /* NAV STYLES */
  .nav-links {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-two);
    flex-direction: column;
    z-index: 2;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.8rem var(--dark-color);
    width: 60%;
    text-align: center;
    gap: 1.6rem;
    padding: 2rem 0;
    font-size: 3rem !important;
    transition: 0.5s ease-in-out;
  }

  .nav-links a {
    font-size: 2rem;
    font-weight: 600;
  }

  .nav-btn {
    display: none;
  }

  .toggler {
    display: block;
    cursor: pointer;
  }
  /* HERO SECTION STYLES */
  menu {
    padding-bottom: 8rem;
  }
  .hero-section {
    flex-wrap: wrap-reverse;
    text-align: center;
    justify-content: center;
  }
  .hero-btn {
    justify-self: center;
  }
  .menu-col-2 {
    width: 40rem;
  }
  /* FEATURES SECTION */
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  /* BLOG SECTION */
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  /* FOOTER SECTION */
  .footer-section-wrap {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .footer-btn {
    align-self: center;
  }
}
/* LAST MOBILE */
@media screen and (max-width: 775px) {
  /* FEATURES SECTION */
  .features-section {
    text-align: center;
  }
  .features {
    grid-template-columns: 1fr;
  }
  /* BLOG SECTION */
  .blog-section {
    width: 80%;
  }
  .blog-h1 {
    text-align: center;
  }
  .blogs {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }
  /* FOOTER SECTION */
  .footer-section {
    font-size: 2.4rem;
  }
  .footer-navs {
    display: block;
    text-align: center;
  }
}
